footer {
    background-color: #fa7070;
    padding: 50px 0;
  }
  
  footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  footer p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    padding-left: 0;
  }
  
  footer ul li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 5px;
  }
  
  footer ul li i {
    margin-right: 5px;
  }
  
  footer .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  footer .social-icons li a {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
  }
  
  footer .social-icons li a:hover {
    background-color: #555;
  }
  
  footer hr {
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
  }
  
  footer p.text-center {
    font-size: 14px;
  }